<?xml version="1.0" encoding="utf-8"?>
<config>
  <analyst id="DateAnalyst">
    <rule method="DATE">
      <ext>jpg</ext>
      <partner></partner>
      <method>EXIF;FILENAME;FILEDATE</method>
    </rule>
    <rule method="DATE">
      <ext>raw;crw;cr2;rw2;nef;nrw;arw;srf;sr2;pef;ptx;srw</ext>
      <method>FILENAME;FILEDATE</method>
    </rule>
    <rule method="DATE">
      <ext>avi;mov</ext>
      <partner>thm</partner>
      <flags>PF_FOLLOWMAIN;PF_GETINFO</flags>
      <method>EXIF;FILENAME;FILEDATE</method>
    </rule>
    <rule method="DATE">
      <ext>m2ts</ext>
      <partner>modd</partner>
      <flags>PF_FOLLOWMAIN</flags>
      <method>EXIF;FILENAME;FILEDATE</method>
    </rule>
    <rule method="DATE">
      <ext>mts</ext>
      <method>EXIF;FILENAME;FILEDATE</method>
    </rule>
    <rule method="DATE">
      <ext>m4v;mp4;3gp</ext>
      <method>EXIF;FILENAME;FILEDATE</method>
    </rule>
  </analyst>

  <output id="moveto">
    <head>@echo off\n</head>
    <bodysingle>call :moveto "?SRC_MEDIA_ROOT_DIR?" "?TARGET_ROOT_DIR?" "?EXISTS_ROOT_DIR?"\n</bodysingle>
    <tail><![CDATA[
goto :EOF

rem ##########################################################
rem %1 待移动的文件全路径
rem %2 正常移动到的目标路径
rem %3 当目标文件已存在时将移动到的路径
:moveto
if exist "%~2\%~n1%~x1" (
   call :movefileto %1 %3
) else (
   call :movefileto %1 %2
)
goto :EOF


rem %1 待移动的文件全路径
rem %2 移动到的目标路径
:movefileto
if not exist %2 md %2
move %1 %2
goto :EOF


rem ###########################################################
rem 该过程为上面两个过程的合体
rem %1 待移动的文件全路径
rem %2 正常移动到的目标路径
rem %3 当目标文件已存在时将移动到的路径
:movetofull
if exist "%~2\%~n1%~x1" (
   if not exist %3 md %3
   move %1 %3
) else (
   if not exist %2 md %2
   move %1 %2
)
goto :EOF
]]>
    </tail>
  </output>
</config>
